img {
  max-height: 1em;
}

.events > li:nth-of-type(1n+5) {
  display: none;
}

.link {
  cursor: pointer;
}

#chart-information {
  display: none;
  position: fixed;
  z-index: 20;
  max-height: 400px;
  overflow: auto;
}

#chart:hover #chart-information {
  display: block;
}

#chart rect {
  stroke: none;
}

#chart .active {
  stroke: black;
}